[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dateutil = "*"
sqlalchemy = "*"
retry = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
ipdb = "*"
isort = "*"
pylint = "*"
pytest = "*"
v = {editable = true,version = "*"}
mysqlclient = "*"

[requires]
python_version = "3.7"
